.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sort {
    padding-top: 5px;
}

.wrapper__sort {
    display: flex;
    gap: 5px;
    justify-content: center;
}

@media (max-width: 500px) {
    .search input {
       width: 195px;
    }
    .wrapper__sort {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}