.wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.wrapper:hover {
    border: 1px solid #40a9ff;
}

.title {
    font-weight: bold;
}

h2 {
    font-size: 14px;
}

