.wrapper {
    padding: 10px;
    width: 75%;
    height: 20%;
    display: flex;
}

.wrapper__cover {
    margin-right: 10px;
}

ul {
    list-style: none;
}

@media (max-width: 500px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .description .authors .categories .title {
        font-size: 12px;
    }
}